.element__delete{
    position: relative;
    bottom: 265px;
    right: 20px;
    width: 18px;
    height: 19px;
    background-image: url(../../../images/trash.svg);
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.element__delete:hover {
    opacity: 0.6;
  }
