.popup__save{
    width: 358px;
    background-color: #000;
    color: #fff;
    margin: 48px 36px 37px;
    border: none;
    border-radius: 3px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding-top: 14px;
    padding-bottom: 18px;
    cursor: pointer;
}

.popup__save:hover{
    opacity: 0.8;
}

@media screen and (max-width: 500px) {
    .popup__save{
        width: 238px;
        margin: 45px 22px 25px;
        padding-bottom: 14px;
    }
}
